{% extends "layouts/app.twig" %}

{% block content %}

<p>Enter the address of the video you would like to package below. The system currently supports the following services:</p>
<ul>
{% for service in services %}
	<li>{{ service }}</li>
{% endfor %}
</ul>

<form method="POST" action="packager/index.php">
	<div class="input-group">
		<label class="sr-only" for="video">Video Address</label>
		<input type="text" class="form-control" name="video" id="video" placeholder="Video Address">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary">Start</button>
		</span>
	</div>
</form>

{% endblock %}